{% extends 'core/base.html' %}

{% block title %}Historia{% endblock %}

{% load static %}

{% block style %}
<link href="{% static 'core/css/main_base.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'core/css/about.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<!-- Cabecera -->
<main>
  <section class="header">
    <span class="icons--all"></span>
    <h1>Historia</h1>
</section>

<!-- Mensaje -->
  <div class="message">
    <section class="text">
        <h1>“ La <span>tradición</span> no se hereda se conquista. ”</h1>
        <h4>ANDRÉ-GEORGES MALRAUX</h4>
        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum dolor morbi nec placerat pellentesque. Consequat etiam diam massa habitasse amet viverra.</p>
        <p>Pharetra, sed nibh cras eget. Odio semper commodo lectus consequat. Sagittis, vitae, tortor vitae eget non cursus donec.</p>
      </section>
      
      <section class="square">
        <figure><img class="img-1" alt=""></figure>
        <figure><img class="img-2" alt=""></figure>
        <figure><img class="img-3" alt=""></figure>
        <figure><img class="img-4" alt=""></figure>
      </section>
  </div>

  <section class="bottom_logo">
    <span class="icons--all aux_nav__logo-text" ></span>
  </section>
</main>
{% endblock %}