{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<h2>
    <span class="section-heading-upper">Tradición familiar italiana</span>
    <span class="section-heading-lower">Nuestra historia</span>
</h2>
<p>Fundada en 1987 consectetur adipiscing elit. Donec leo dui, vehicula vel dapibus ac, tempus non enim. Nunc tempor vel lacus vel gravida. Nam sit amet pellentesque mi. </p>
<p>Curabitur efficitur pellentesque tellus nec volutpat. In viverra mattis sem, facilisis condimentum mi rutrum ut. Quisque ut pellentesque dui.Nullam eu vehicula metus. Pellentesque id interdum elit. Aenean in efficitur enim.</p>
{% endblock %}