<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Web | {% block title %}{% endblock %} </title>
    {% load static %}
    <link href="{% static 'core/css/base.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
  <header class="menu">
    <span class="icons--all menu__icon-close" ></span>
    <span class="icons--all menu__logo-image"></span>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Historia</a></li>
            <li><a href="{% url 'services' %}">Servicios</a></li>
            <li><a href="{% url 'store' %}">Visítanos</a></li>
            <li><a href="{% url 'contact' %}">Contacto</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
        </ul>
    </nav>
    <!-- Pié de página -->
    <footer>
      <div class="footer__icons">
          {% if LINK_TWITTER %}
            <a class="icons--all footer__icons--all footer__icon--twitter" href="{{LINK_TWITTER}}"></a>
          {% endif %}
          {% if LINK_FACEBOOK %}
            <a class="icons--all footer__icons--all footer__icon--facebook" href="{{LINK_FACEBOOK}}"></a>
          {% endif %}
          {% if LINK_INSTAGRAM %}
            <a class="icons--all footer__icons--all footer__icon--instagram" class="icon__instagram" href="{{LINK_INSTAGRAM}}"></a>
          {% endif %}
      </div>  
      <p >
        {% load pages_extras %}
        {% get_page_list as page_list %}
        {% for page in page_list %}
          <a class="urls" href="{% url 'page' page.id page.title|slugify %}">{{page.title}}</a> {% if not forloop.last %}·{% endif %} 
        {% endfor %}
      </p>
      <p class="copy" >&copy; Esponjocitos 2020</p>
    </footer>
  </header>

  {% block content %}{% endblock %}
</body>
</html>
