{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<!-- Cabecera -->
<main>
  <section>
    <img src="{% static 'core/img/intro.png' %}" alt="">
    <h2 >Déjate sorprender</h2>
    <h3>Te gustará</h3>
    <p >Trabajamos sólo con los mejores ingredientes. Una vez lo pruebes, nuestro café será la mejor forma de empezar tu rutina diaria.
    </p>
    <a  href="store.html">Visítanos</a>
  </section>
  
  <!-- Mensaje -->
  <section >
    <h2 >Compromiso total</h2>
    <h3>Garantizado</h3>
    <p >Sed pulvinar blandit elit id venenatis. Ut eget lacus neque. Nullam justo quam, efficitur nec turpis vitae, efficitur posuere ligula. Proin ut turpis orci. Aenean porta sodales lectus faucibus pellentesque. In sed felis iaculis, rhoncus felis a, maximus mi.</p>
  </section>
</main>
{% endblock %}
