{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}

{% load static %}

{% block style %}
  <link href="{% static 'core/css/main_base.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'core/css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<!-- Cabecera -->
<main>
  <section class="header">
    <span class="icons--all"></span>
    <h1>Inicio</h1>
  </section>
  
  <!-- Mensaje -->
 <div class="message">
  <section class="text">
    <h1>" No hay <span>amor</span> más sincero que el amor a la comida ".</h1>
    <p >Apostamos por la innovación y el desarrollo de nuevos productos elaborados de forma tradiconal con amor y entrega total diaria con ingredientes frescos y cien por cien naturales.﻿ diferenciandonos, por su sabor y calidad como por su fórmula innovadora. 
    </p>
  </section>
  
  <section class="carousel">
    <div class="slides">
      <div id="slide-1">
        <figure><img src="{% static 'core/img/inicio.jpg' %}" alt=""></figure>
      </div>
      <div id="slide-2">
        <figure><img src="{% static 'core/img/inicio_2.jpg' %}" alt=""></figure>
      </div>
      <div id="slide-3">
        <figure><img src="{% static 'core/img/inicio_3.jpg' %}" alt=""></figure>
      </div>
    </div>
    <div class="btn">
      <a href="#slide-1">1</a>
      <a href="#slide-2">2</a>
      <a href="#slide-3">3</a>
    </div>
  </section>
</div>

  <section class="bottom_logo">
    <span class="icons--all aux_nav__logo-text" ></span>
  </section>
</main>
{% endblock %}
