{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<h2 >
    <span >Te esperamos</span>
    <span >Visítanos</span>
  </h2>
  <ul >
    <li >
      Lunes a viernes
      <span >7:00 a 20:00</span>
    </li>
    <li >
      Sábados
      <span >9:00 a 17:00</span>
    </li>
    <li >
      Domingos
      <span >Cerrado</span>
    </li>
  </ul>
  <p><em><strong>Archilango Perez nº 806 bajo, (46781)</strong><br>Varlaquia</em></p>
  <p><small><em>Llámanos y pregunta</em></small><br>(657) 847-5120</p>
{% endblock %}