main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

section {
    width: 75%;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header span{
    background-image: url('../img/espiga.svg');
    width: 6.5rem;
    height: 1.8rem;
}

.message {
    display: inherit;
    flex-direction: column;
    width: 75%;
}

.text, .square {
    width: 100%;
}

.square figure {
    width: 100%;
    height: 99%;
}

.square figure img {
    width: 100%;
}


@media (min-width: 1200px){
    
    .message {
        flex-direction: row;
    }

    .text, .square {
        width: 50%;
    }

    .square figure {
        width: 50%;
        height: 49%;
        float: left;
    }


}