.text h1 {
    margin-bottom: 0.7rem;
}

.text h4 {
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 3rem;
}

.square {
    width: 100%;
}

.square figure {
    height: 99%;
}

@media (min-width: 1200px){

    .square {
        width: 50%;
    }

    .square figure {
        width: 50%;
        height: 49%;
        float: left;
    }

}