:root {
    --white: #faf8f9;
    --brown: #F9CB8B;
    --brown_dark: #BB7427;
    --light_purple: #E2DADD;
    --purple: #583D72;
    --black: #333333;
    --gray: #706C61;

}

* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

.icons--all {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    background-color: var(--light_purple);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    position: fixed;
}

.menu__icon-close {
    width: 2.8rem;
    height: 2.8rem;
    background-image: url('../img/iconos/icon__close.svg');
    margin-left: 75%;
}

.menu__logo-image {
    width: 13rem;
    height: 13rem;
    background-image: url('../img/logo.svg');
}

.menu ul {
    text-align: center;
}

nav ul li a {
    font-size: 2rem;
    line-height: 5rem;
}

a {
    color: var(--black);
}

.aux_nav {
    width: 100vw;
    height: 6rem;
    background-color: var(--light_purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.aux_nav__logo-text {
    width: 12rem;
    height: 3rem;
    background-image: url('../img/logo__text.svg');
}

.aux_nav__icon-dots {
    width: 3rem;
    height: 3rem;
    background-image: url('../img/iconos/icon__menu.svg');
}

footer {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.footer__icons {
    display: inherit;
    flex-direction: row;
    margin-bottom: 1rem;
}

.footer__icons--all {
    width: 4rem;
    height: 4rem;
}

.footer__icon--twitter {
    background-image: url('../img/iconos/twitter.svg');
}

.footer__icon--facebook {
    background-image: url('../img/iconos/facebook.svg');
}

.footer__icon--instagram {
    background-image: url('../img/iconos/instagram.svg');
}

.urls, .copy {
    font-size: 1.4rem;
}

.copy {
    color: var(--brown_dark);
    margin-top: 1.3rem;
}

@media (min-width: 1200px){

    .menu {
        width: 30rem;
    }

    .aux_nav {
        width: 5rem;
        height: 100vh;
        position: fixed;
    }

}