:root {
    --white: #f3f2da;
    --green: #4e8d7c;
    --green_dark: #045762;
    --pink: #ea97ad;
}

* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;   
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif; 
}