main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: var(--white);
}

section {
    width: 75%;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin: 4rem 0;
}

.header span{
    background-image: url('../img/espiga.svg');
    width: 6.5rem;
    height: 1.8rem;
    margin-right: 2rem;
}

.header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--brown_dark);
}

.message {
    display: inherit;
    flex-direction: column;
    width: 75%;
}

.text {
    width: 100%;
    margin-bottom: 4rem;
}

.text h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    margin-bottom: 5rem;
}

.text h1 span {
    color: var(--brown_dark);
}

.text p {
    font-size: 1.6rem;
}

.square figure {
    width: 100%;
}

.square figure img {
    width: 100%;
}

.bottom_logo {
    margin: 3rem 0;
}

.bottom_logo span {
    width: 19.8rem;
    height: 4.9rem;
    display: inline-block;
}

@media (min-width: 1200px){

    main {
        height: 100vh;
    }

    .message {
        flex-direction: row;
    }

    .text {
        width: 50%;
        padding-right: 4rem;
    }

    .text h1 {
        font-size: 3.6rem;
    }

    .text p {
        font-size: 2rem;
        line-height: 2.6rem;
    }

}