.text {
    width: 75%;
}

.text h1 {
    margin-bottom: 0.7rem;
}

.text h4 {
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 3rem;
}

.services {
    background-color: var(--light_purple);
    margin-bottom: 1rem;
}

.services figure {
    width: 100%;
}

.services figure img {
    width: 100%;
}

.services__text {
    padding: 2rem;
}

.services__text h2 {
    font-size: 2rem;
}

.services__text h4 {
    font-size: 1.4rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.services__text p {
    color: var(--gray);
    font-size: 1.6rem;
}