.img__container {
    width: 100%;
}

.img__container figure {
    width: 100%;
}

.img__container figure img {
    width: 100%;
}

@media (min-width: 1200px){

    .message {
        flex-direction: row;
    }

    .img__container {
        width: 50%;
    }

}